.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.card-container:hover {
  background-color: rgb(240, 240, 227);
  border-radius: 10px;
}

.poster {
  display: block;
  width: 300px;
  height: 350px;
  object-fit: contain;
  margin: 0wjr;
  text-align: center;
}

.title {
  text-decoration: underline;
}

.overview {
  /* width: 80%; */
  min-width: 40px;
  margin: 0.4rem;
}